<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
  </head>
    <body>
      <%- include ("partials/header.ejs") %>
      <div class="main">
        <h1><%= title %></h1>
        <form action="<%= action %>" method="post">
          <% formData.forEach((field, idx) => { %>
            <label for="<%= `input-${idx}` %>"><%= field.text %></label>
            <input id="<%= `input-${idx}` %>" 
              <%- field.inputAttributes %>
            >
          <% }); %>
          <button type="submit">Submit</button>
        </form>
      </div>
    </body>
</html>
