<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>User <%= user.u_id %></title>
    <body>
      <%- include("partials/header.ejs") %>
      <div class="main">
        <h1>User <%= user.u_id %> Details</h1>
        <%- include("partials/table.ejs", { tableData: [user] }) %>
        <h1>Current Task: <%= t_id ?? "None" %></h1>
        <h1>Previous Tasks:</h1>
        <%- include("partials/table.ejs", { tableData: tasks }) %>
      </div>
    </body>
  </head>
</html>
