<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/form.css">
  </head>
    <body>
      <%- include ("partials/header.ejs") %>
      <div class="flex-column-center">
        <h1><%= title %></h1>
        <form action="<%= action %>" method="post" class="flex-column-center">
          <fieldset>
            <legend>User Role:</legend>
            <label for="admin">Admin:</label>
            <input type="radio" name="u_role" id="admin" value="admin" required>
            <label for="intake">Intake:</label>
            <input type="radio" name="u_role" id="intake" value="intake" required>
            <label for="picker">Picker:</label>
            <input type="radio" name="u_role" id="picker" value="picker" required>
            <label for="outgoing">Outgoing:</label>
            <input type="radio" name="u_role" id="outgoing" value="outgoing" required>
          </fieldset>
          <% formData.forEach((field, idx) => { %>
            <div class="field">
              <label for="<%= `input-${idx}` %>"><%= field.text %>:</label>
              <input id="<%= `input-${idx}` %>" 
                <%- field.inputAttributes %>
              >
            </div>
          <% }); %>
          <button type="submit">Submit</button>
        </form>
      </div>
    </body>
</html>
