<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Users</title>
    <body>
      <div class="main">
        <h1>Users</h1>
        <div class="content">
          <ul>
            <% users.forEach((user) => { %>
              <li>
                ID: <%= user.id %>, Name: <%= user.firstName %> <%= user.lastName %>
                <a href="/users/<%= user.id %>/update">Update</a>
                <form action="/users/<%= user.id %>/delete" method="POST" style="display:inline;">
                  <button type="submit">Delete</button>
                </form>
              </li>
            <% }); %>
          </ul>
        </div>
          <a href="/users/new">Create a user</a>
          <a href="/">Back to home</a>
      </div>
    </body>
  </head>
</html>
